<div class="component-wrapper">

    <div class="card-container">
        <mat-card>
            <div class="card-content">

                <div class="card-header-container">

                </div>
                
                <div class="card-body-container">

                    <div class="body-component-container">
                        <h2><b>Distance:</b></h2>
                        &nbsp;
                        <h2>{{ this.metrics.averageDistance }}</h2>
                    </div>

                    <div class="body-component-container">

                        <h2><b>Sparsity:</b></h2>
                        &nbsp;
                        <h2>{{ this.metrics.numberFeatureChanges }}</h2>
                        
                    </div>

                </div>
                
            </div>
        </mat-card>
    </div>

</div>