<div class="component-wrapper">

    <div class="card-container">

        <mat-card>
            <div class="card-content">

                <div class="card-header-container">
                    <h3>Attribute Name</h3>
                </div>

                <div class="card-body-container">
                    
                    <div class="attribute-change-description">
                        <h2>33.3</h2>
                    </div>

                    <div class="icon-container">
                        <img src='../../../assets/icons/right.png'>
                    </div>

                    <div class="attribute-change-description">
                        <h2>45.2</h2>
                    </div>

                </div>
                
            </div>
        </mat-card>

    </div>

    

</div>
