<div class="component-wrapper">

    <div class="card-container">

        <mat-card>
            <div class="card-content">

                <div class="card-header-container">

                    <div class='header-component'>
                        <h3>{{ this.actionInstance.featureName }}</h3>
                    </div>
                    <div class='header-component trash-icon-container'>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    
                    
                </div>

                <div class="card-body-container">
                    
                    <div class="attribute-change-description">
                        <h2>{{ this.actionInstance.featureFloor }}</h2>
                    </div>

                    <div class="icon-container">
                        <img src='../../../assets/icons/right.png'>
                    </div>

                    <div class="attribute-change-description">
                        <h2>{{ this.actionInstance.featureCeil }}</h2>
                    </div>

                </div>
                
            </div>
        </mat-card>

    </div>

    

</div>
