@import 'src/global_styles/dialog_template.scss';

.parameters-selector-list-container{

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.parameter-selector-container{

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}   