@import 'src/global_styles/dialog_template.scss';


.parameters-selector-list-container{

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

}

.parameter-selector-container{

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}   