@import 'src/global_styles/color_themes.scss';
@import 'src/global_styles/global_styles.scss';

:host{

    width: 100%;
    height: 100%;

    display: flex;

}

.component-wrapper{

    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: $header-background;

}

.body-wrapper{

    width: 100%;
    height: calc(100% - 70px);
    position: relative;


}

.scrollable-container{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}