<div class="component-wrapper">

    <div class="header-wrapper">
        <div class="header-container">
            <h1>Counterfactual Suggestions</h1>
        </div>
    </div>


    <div class="body-wrapper">
        <div class="scrollable-container">

            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
            <app-counterfactual-instance></app-counterfactual-instance>
          
            
            

        </div>
    </div>

</div>