<div class="main-wrapper">

    <div class="toolbar-container">
        <app-toolbar></app-toolbar>
    </div>
    
    <div class="current-view-container">
        
        <div class="left-sidebar-wrapper sidebar-wrapper">

            <div class="dataset-overview-wrapper">
                <app-dataset-overview></app-dataset-overview>
            </div>

            <mat-divider></mat-divider>

            <div class="parameter-selector-wrapper">
                <app-parameter-selector></app-parameter-selector>
            </div>
            
        </div>

        <mat-divider vertical></mat-divider>

        <div class="main-section-wrapper"></div>

        <mat-divider vertical></mat-divider>

        <div class="right-sidebar-wrapper sidebar-wrapper"></div>

    </div>

</div>