<div class="main-wrapper">

    <div class="toolbar-container">
        <app-toolbar></app-toolbar>
    </div>
    
    <div class="current-view-container">
        
        <div class="left-sidebar-wrapper sidebar-wrapper">

            <div class="dataset-overview-wrapper">
                <app-dataset-overview (onrowclicked)='this.mainViewController?.dataset_row_clicked()'></app-dataset-overview>
            </div>

            <mat-divider></mat-divider>

            <div class="parameter-selector-wrapper">
                <app-parameter-selector></app-parameter-selector>
            </div>
            
        </div>

        <mat-divider vertical></mat-divider>

        <div class="main-section-wrapper">
            <app-counterfactual-list></app-counterfactual-list>
        </div>

        <mat-divider vertical></mat-divider>

        <div class="right-sidebar-wrapper sidebar-wrapper">

            <div class="action-guide-wrapper">
                <app-action-list></app-action-list>
            </div>

            <div class="classification-overview-wrapper">
                <app-classification-overview></app-classification-overview>
            </div>

        </div>

    </div>

</div>